<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Mis Ancestros'" [icono]="'back'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Refresher-->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item  *ngFor="let ancestro of items;let i = index" >
    <div slot="start">
      <ion-icon name="person-outline"></ion-icon>
    </div>      
    <ion-label style="color:black">                
      <h2><b>{{ancestro.name}}</b></h2>
      <p>
        {{ancestro.relationship}}
  
        
       
      </p>

    </ion-label>  
    <ion-button slot="end" fill="clear" (click)="editar(i,ancestro)">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
  </ion-item>

  

  <!--Botón flotante para agregar ancestros -->
  <ion-fab *ngIf="canUpdate" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
