<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Ancestros'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="datosForm">
    <ion-item [class.invalid]="submitted && !datosForm.controls.name.valid">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input name="content" type="text" formControlName="name" required></ion-input>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">
          <h5>Ingrese un Título</h5>
        </div>
      </div>
    </ion-item>
    <ion-item [class.invalid]="submitted && !datosForm.controls.relationship.valid">
      <ion-label position="floating">Relación</ion-label>
      <ion-input name="relationship" type="text" formControlName="relationship" required></ion-input>
      <div *ngIf="submitted && f.relationship.errors" class="invalid-feedback">
        <div *ngIf="f.relationship.errors.required">
          <h5>Ingrese un Título</h5>
        </div>
      </div>
    </ion-item>
  </form>
  <ion-button  color="light" (click)="cancelar()">
    <ion-label>Cancelar</ion-label>
  </ion-button> 
  <ion-button type="submit" color="success" (click)="guardar()">
    <ion-label>Guardar</ion-label>
  </ion-button>
</ion-content>
