<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="titulo"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="datosForm">
    <ion-item [class.invalid]="submitted && !datosForm.controls.name.valid">
      <ion-label position="floating">Rama familiar o nombre del antepasado</ion-label>
      <ion-input name="content" type="text" formControlName="name" required></ion-input>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">
          <h5>Ingrese un Título</h5>
        </div>
      </div>
    </ion-item>
    <ion-item [class.invalid]="submitted && !datosForm.controls.relationship.valid">
      <ion-label position="floating">Parentesco</ion-label>
      <ion-input name="relationship" type="text" formControlName="relationship" required></ion-input>
      <div *ngIf="submitted && f.relationship.errors" class="invalid-feedback">
        <div *ngIf="f.relationship.errors.required">
          <h5>Ingrese un Título</h5>
        </div>
      </div>
    </ion-item>
    <ion-button  *ngIf="updating" class="btn-borrar" size="large" color="danger" (click)="borrar()"><ion-icon name="trash"></ion-icon> Borrar</ion-button>
  </form>  
  <ion-toolbar class="ion-padding"> 
    <ion-button slot="start"  color="light" (click)="cancelar()">
      <ion-label>Cancelar</ion-label>
    </ion-button> 
    <ion-button slot="end"  color="success" (click)="guardar()">
      <ion-label>Enviar</ion-label>
    </ion-button> 
  </ion-toolbar>
</ion-content>