<ion-header>
  <app-header [titulo]="'Notificaciones'" [icono]="'menu'"></app-header>
</ion-header>

<ion-content class="notifications notifications-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <ion-list *ngIf="notificaciones.length > 0" class="notifications-list">
      <ion-item-sliding *ngFor="let notificacion of notificaciones" class="notifications-list_item">
        <app-card-notificacion [item]="notificacion"></app-card-notificacion>
        <ion-item-options side="end" (click)="eliminar(notificacion)">
          <ion-item-option color="danger"><ion-icon class="pr-1" name="trash-outline"></ion-icon>Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> 
  </div>

  <div *ngIf="notificaciones.length === 0" class="content-placeholder">
    <p class="text-center w-100">No hay notificaciones para mostrar.</p>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="verMas()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
