<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Planillas'" [icono]="'menu'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Refresher-->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--Planillas-->
  <ion-grid fixed>
    <div *ngIf="items.length === 0" class="content-placeholder">
      <p>No hay planillas para mostrar.</p>
    </div>

    <ion-list *ngFor="let chunk of items" class="ion-margin-bottom">
      <ion-list-header><h3>{{chunk[0].user.name}}</h3></ion-list-header>
      <ion-item  *ngFor="let planilla of chunk" >
        <ion-label style="text-transform:capitalize;">{{planilla.date | date: "MMMM 'de' yyyy"}}</ion-label>  
      </ion-item>      
    </ion-list>
  </ion-grid>


  <!--Infinite-Scroll-->
  <ion-infinite-scroll threshold="150px" (ionInfinite)="siguientes($event)" [disabled]="isDisabled">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
