<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Esenciales'" [icono]="'menu'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Refresher-->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--Esenciales-->
  <ion-grid fixed>
    <div *ngIf="items.length === 0" class="content-placeholder">
      <p>No hay novedades para mostrar.</p>
    </div>

    <span *ngFor="let chunk of items;let i = index">
      <ion-item (click)="toggle(i)">        
        <label>
          <p>{{ chunk[0].documentable_type }}</p>          
        </label>  
        <ion-button slot="end" *ngIf="!isMenuOpen[i]">
          <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" *ngIf="isMenuOpen[i]">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-button>      
      </ion-item>
      <ion-list [ngClass]="isMenuOpen[i] ? 'active' : 'inactive'">
        <ion-item  *ngFor="let item of chunk" >
          <ion-avatar slot="start">
            <img src="{{item.thumbnail}}" alt="{{item.name}}">
          </ion-avatar>
          <label>
            <p>{{item.name}}</p>
            <ion-button *ngIf="item.description" fill="clear" (click)="verDetalles(item)">
              <ion-icon slot="icon-only" name="eye-outline"></ion-icon>vista rápida
            </ion-button>
            <ion-button fill="clear" href="{{item.url}}">
              <ion-icon slot="icon-only" name="download-outline"></ion-icon> descargar
            </ion-button>
          </label>        
        </ion-item>
      
      
    </ion-list>
    </span>
    
  </ion-grid>

  <!--Infinite-Scroll-->
  <ion-infinite-scroll threshold="150px" (ionInfinite)="siguientes($event)" [disabled]="isDisabled">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
