<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Noticias'" [icono]="'menu'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Refresher-->
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--Noticias-->
  <ion-grid fixed>
    <div *ngIf="items.length === 0" class="content-placeholder">
      <p>No hay novedades para mostrar.</p>
    </div>

    <div *ngFor="let chunk of items">
      <h2>{{ chunk[0].date | date: "dd 'de' MMMM" }}</h2>
      <ion-row>
        <ion-col *ngFor="let item of chunk" size="12" size-lg="4" size-md="3">
          <app-noticia [noticia]="item"></app-noticia>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <!--boton flotante para agregar noticias si se es administrador -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isAdmin">
    <ion-fab-button (click)="agregarNoticia()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--Infinite-Scroll-->
  <ion-infinite-scroll threshold="150px" (ionInfinite)="siguientes($event)" [disabled]="isDisabled">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
