ion-avatar {
  margin: 0 auto;
}

ion-menu {
  ion-content {
    --background: var(--ion-item-background);
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-top: 1.2rem;
    --padding-bottom: 1.2rem;
  }

  ion-list {
    padding: 1rem;
  }

  ion-item {
    --min-height: 3rem;
    --padding-start: 0;

    ion-icon {
      font-size: 1.6rem;
      color: var(--ion-color-medium);
    }
  }
}

.sidebar {
  &-header {
    border-bottom: 1px solid var(--ion-color-light);
  }

  &-user_kind {
    color: var(--ion-color-medium);
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
  }
}
