.article {
  &-img_container {
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-bottom: 62.5%;
    }
  }

  &-img {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.noticia-more{
    font-size: 25px !important;
    position: absolute;
    right: -10px;
    top: -18px;
}
