<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Cambiar Contraseña'" [icono]="'back'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="datosForm">
    <!--contraseña actual-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.current_password.valid">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="current_password" [type]="passwordTypeInput1" #passwordEyeRegister  
            formControlName="current_password" required clear-on-edit="true"></ion-input>
      <div *ngIf="submitted && f.current_password.errors" class="invalid-feedback">
          <div *ngIf="f.current_password.errors.required"><h5>Ingresa tu Contraseña actual</h5></div>
      </div>
      <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
        <ion-icon  [name]="iconpassword1"></ion-icon>
      </button>
    </ion-item>  
    <!--contraseña nueva-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.password.valid">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="password" [type]="passwordTypeInput3" #passwordNewEye 
            formControlName="password" required clear-on-edit="true"></ion-input>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required"><h5>Ingresa una nueva Contraseña</h5></div>
      </div>
      <button  item-end  class="btn_eye_icon"  (click)="togglePasswordNewMode()">
        <ion-icon  [name]="iconpassword3"></ion-icon>
      </button>
    </ion-item>   
    <!--repetir contraseña-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.password_confirmation.valid">
      <ion-label position="floating">Confirmación de contraseña</ion-label>
      <ion-input name="password_confirmation" [type]="passwordTypeInput2"  #passwordEyeConfirmation 
            formControlName="password_confirmation" required clear-on-edit="true"></ion-input>
      <button  item-end  class="btn_eye_icon"  (click)="togglePasswordConfirmMode()">
        <ion-icon  [name]="iconpassword2"></ion-icon>
      </button>   
      <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
          <div *ngIf="f.password_confirmation.errors.required"><h5>Ingresa una Contraseña</h5></div>
      </div>  
    </ion-item>
    <ion-footer position="fixed-bottom">
      <ion-row>
        <ion-col size="6">
          <ion-button type="button" expand="block" (click)="dismiss()" color="danger">Cancelar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button type="submit" expand="block" (click)="guardar()" color="success">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer> 
  </form>
</ion-content>
